<h1>Editing Friendlist</h1>
<br>
<%= render 'form', friendlist: @friendlist %>
<br>

<%= link_to 'Show', @friendlist ,class:"btn btn-secondary"%> |
<%= link_to 'Back', friendlists_path ,class:"btn btn-secondary"%>
